_auth=a2Fud2FkaHc6QUtDcDVjY0dUNU1xWlhWeEY4MzR6enFBVEFGeDZjSEhRSHNYVU1Gc2lUQ3JpRVBtaUM2WnhhcUFOZlZiZFhoRms4bU11OTZoUA==
email=kanwadhw@adobe.com
always-auth=true
registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-dcloud/
@react:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-react-release/
@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release/
